<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa Braskem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div id="mapId" style="width: 100%; height: 100%;"></div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary" [routerLink]="['/places']" routerLinkActive="router-link-active" >
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
