<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <!-- <div id="mapId" style="width: 100%; height: 100%;"></div> -->
  <!-- fab placed to the bottom end -->
  <ion-grid no-padding no-margin>
    <ion-row>
      <ion-col no-padding no-margin>
        <ion-img no-padding no-margin [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group
            name="radio-group"
            (ionChange)="radioGroupChange($event)"
            allowEmptySelection="false"
          >
            <ion-list-header>
              <ion-label>Selecione onde deseja embarcar</ion-label>
            </ion-list-header>

            <ion-item
              *ngFor="let planta of loadPlaces.slice(0)"
              (ionSelect)="radioSelect($event)"
            >
              <ion-label>{{ planta.title }}</ion-label>
              <ion-radio
                id="{{ planta.id }}"
                slot="start"
                value="{{ planta.id }}"
                name="{{ planta.id }}"
              ></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="chamarAlphanumcar()">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-button fill="outline" (click)="chamarAlphanumcar()" class="btnCall">Confirmar Alphacar</ion-button>
</ion-content>
