.imgProfile {
    width: 100%;
    margin: 5vh 0;
    display: block;

    img {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        width: 50%;
    }
}

.customButtom {
    margin-top: 5vh;
}